body {
    padding-left: 11em;
    font-family: Georgia, 'Times New Roman';
    color: white;
    background-color: purple; }
    address {
        margin-top: 1em;
        padding-top: 1em;
        border-top thing dotted }
        .imagen2{ padding:10px; margin:10px; border: 2px solid black; height:250; width: 450xp; }